syntax: glob
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.bbl
*.blg
*.dvi
*.ps
*.bak
*.upb
*.upa
*.xml
*.bcf
*.lof
*.lot

Presentation.pdf
Paper.pdf
MasterThesis/Paper.acn
MasterThesis/Paper.acr
MasterThesis/Paper.alg
MasterThesis/Paper.glo
MasterThesis/Paper.glsdefs
MasterThesis/Paper.gsg
MasterThesis/Paper.gsi
MasterThesis/Paper.ist
MasterThesis/Paper.osg
MasterThesis/Paper.osi
MasterThesis/Paper.rsg
MasterThesis/Paper.rsi
MasterThesis/Paper.slg
MasterThesis/Paper.ssi
MasterThesis/Paper.ssg
